# Config for the PRJ Base Directory Specification
# Must be here instead of the flake because otherwise the flake would be impure
export PRJ_ROOT=$(git rev-parse --show-toplevel)
export PRJ_CONFIG_HOME=${PRJ_ROOT}/.config
export PRJ_ID=cmprss
export PRJ_CACHE_HOME=${XDG_CACHE_HOME:-$HOME/.cache}/prj/$PRJ_ID

# Use the nix flake for development
use flake
